<h1>Welcome to VetSys</h1>
<p>Get started by choosing your portal</p>
<ul>
	<li><a href="/doctor/index">Doctors</a></li>
	<li><a href="/reception/index">Receptionists</a></li>
	<li><a href="/customer/index">Customers</a></li>
</ul>
